{% extends 'Admin/base.html.twig' %}
{% block title %}{{ app_name }} - {{ 'ui.sensor.label'|trans }}{% endblock %}

{% block body %}
    <div {{ stimulus_controller('sensor-management--sensor-management-show') }}>
        <div class="container mt-3">
            <h1>{{ 'ui.sensor.show'|trans }}</h1>
            <hr>
            <div class="h-100 p-5 bg-body-tertiary border rounded-3">
                <h2>{{ sensor.name }}</h2>
                <h3>{{ sensor.city.name }}, {{ sensor.address }}</h3>
                <div class="mt-4 lead">{{ 'ui.sensor.api_query'|trans }}:</div>
                <div class="alert alert-secondary" role="alert">
                    POST {{ app.request.scheme }}://{{ app.request.host }}/api/measurements<br/>
                    Content-Type: application/json<br/>
                    Authorization: Bearer <span class="fw-semibold">{token}</span><br/><br/>

                    {<br/>
                    "pm10": <span class="fw-semibold">{int value}</span>,<br/>
                    "pm25": <span class="fw-semibold">{int value (optional)}</span>,<br/>
                    "sensor": "{{ app.request.scheme }}://{{ app.request.host }}/api/sensors/{{ sensor.id }}"<br/>
                    }<br/><br/>
                    <a href="/api"><button class="btn btn-info btn-sm">{{ 'ui.sensor.check_api'|trans }}</button></a>
                </div>
                <div class="pt-4">
                    <a href="{{ path('admin_web_sensor_update', {id:sensor.id}) }}">
                        <button class="btn btn-warning" type="button">
                            {{ 'ui.buttons.edit'|trans }}
                        </button>
                    </a>
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirm_delete">
                        {{ 'ui.buttons.remove'|trans }}
                    </button>
                </div>
            </div>
        </div>
        {{ include('Admin/Common/confirm_delete.html.twig', {
            id: sensor.id,
            route: 'api_sensor_delete',
            onSuccessRoute: 'admin_web_sensor_index'
        }) }}
    </div>
{% endblock %}
