{% set pm10sum = null %}
{% set activeSensorsSum = null %}
{% for sensor in city.sensors %}
    {% if sensor.measurements|first %}
        {% if sensor.measurements|first.createdAt|date('Y-m-d H:i:s') > referenceTime %}
            {% set pm10sum = pm10sum + sensor.measurements|first.pm10 %}
            {% set activeSensorsSum = activeSensorsSum + 1 %}
        {% endif %}
    {% endif %}
{% endfor %}
{% if city.sensors|length != null and activeSensorsSum != null %}
    {% set pm10sum = pm10sum / activeSensorsSum %}
{% endif %}


{% if pm10sum > 0 and pm10sum <= 20 %}
    <div class="map-marker green">{{ city.sensors|length }}</div>
{% elseif pm10sum > 20 and pm10sum <= 50 %}
    <div class="map-marker yellow">{{ city.sensors|length }}</div>
{% elseif pm10sum > 50 and pm10sum <= 80 %}
    <div class="map-marker orange">{{ city.sensors|length }}</div>
{% elseif pm10sum > 80 and pm10sum <= 110 %}
    <div class="map-marker red">{{ city.sensors|length }}</div>
{% elseif pm10sum > 110 and pm10sum <= 150 %}
    <div class="map-marker claret">{{ city.sensors|length }}</div>
{% elseif pm10sum > 150 %}
    <div class="map-marker violet">{{ city.sensors|length }}</div>
{% endif %}
