<!-- Modal -->
<div class="modal fade" id="confirm_delete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">{{ 'ui.modal.confirm_remove.label'|trans }}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{ 'ui.modal.confirm_remove.desc'|trans }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                        data-bs-dismiss="modal">{{ 'ui.buttons.close'|trans }}
                </button>
                <button type="button"
                        class="btn btn-primary"
                        data-delete-on-success="{{ onSuccessRoute }}"
                        data-delete-path="{{ route }}"
                        data-delete-id="{{ id }}">
                    {{ 'ui.buttons.remove'|trans }}
                </button>
            </div>
        </div>
    </div>
</div>
