{% extends 'Main/base.html.twig' %}
{% block title %}{{ app_name }}{% endblock %}

{% block body %}
    <div {{ stimulus_controller('frontpage--frontpage') }} class="container flex-grow-1 my-3">
        <h2 class="my-4">{{ 'ui.frontpage.title'|trans }}</h2>
        <hr>
        <div>
            {% include 'Main/FrontPage/_sensors.html.twig' %}
        </div>
        <div class="map d-flex justify-content-center overflow-x-auto">
            <div {{ stimulus_target('frontpage--frontpage', 'map') }} data-map class="position-relative my-5">
                <div class="map-shadow position-relative top-0 z-0">
                    <div class="map-color">
                        {% if settings.mapImage != null %}
                            <img class="map-image cursor-pointer" src="{{ file_directory ~ settings.getMapImageFilename }}" height="800" alt="Map">
                        {% else %}
                            <img class="map-image cursor-pointer" src="{{ asset('build/images/no-image.webp')}}" height="800" alt="Map">
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'Main/FrontPage/_legend.html.twig' %}
{% endblock %}
