{% extends 'Main/base.html.twig' %}
{% block title %}{{ app_name }}{% endblock %}

{% block body %}
    {% set referenceTime = "now"|date_modify("-1 hour")|date_modify("-30 minute")|date("Y-m-d H:i:s", "Europe/Warsaw") %}
    <div class="container flex-grow-1 my-3">
        <h2 class="my-4">{{ 'ui.frontpage.title'|trans }}</h2>
        <hr>
        <div class="overflow-x-auto">
            {% include 'Main/FrontPage/_sensors.html.twig' %}
        </div>
    </div>
    <div class="map d-flex justify-content-center">
        <div data-map class="map-container position-relative my-5">
            <div class="map-shadow position-relative top-0 z-0">
                <div class="map-color">
                    {% if settings.mapImage != null %}
                        <img class="map-image cursor-pointer" src="{{ file_directory ~ settings.getMapImageFilename }}" alt="Map">
                    {% else %}
                        <img class="map-image cursor-pointer" src="{{ asset('build/images/no-image.webp')}}" alt="Map">
                    {% endif %}
                </div>
            </div>
            {% for city in cityList %}
                <a href="{{ path('main_city_show', {id: city.id}) }}">
                    <div class="map-label-container position-absolute d-flex align-items-center justify-content-center"
                         style="top: {{ city.positionY }}px; left: {{ city.positionX }}px">
                        <div class="map-label">{{ city.name }}</div>
                        {% include 'Main/FrontPage/_measurement_pm10_sensors.html.twig' %}
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
    <hr>
    <div class="my-1 d-flex gap-3 justify-content-center flex-wrap">
        <div class="d-flex items-center">
            <div class="map-label-container d-flex align-items-center justify-content-center" style="transform: none!important;">
                <div class="map-label">Nazwa miejscowości</div>
                <div class="map-marker orange">3</div>
            </div>
        </div>
        <div class="px-2 d-flex flex-column justify-content-center text-center text-lg-start">
            <span><strong>{{ 'ui.frontpage.description.color.name'|trans }}</strong> {{ 'ui.frontpage.description.color.desc'|trans }}.</span>
            <span><strong>{{ 'ui.frontpage.description.number.name'|trans }}</strong> {{ 'ui.frontpage.description.number.desc'|trans }}.</span>
        </div>
    </div>
    {% include 'Main/Common/_legend.html.twig' %}
{% endblock %}
