{% extends 'Main/base.html.twig' %}
{% block title %}{{ app_name }}{% endblock %}

{% block body %}
    {% set referenceTime = "now"|date_modify("-1 hour")|date_modify("-30 minute")|date("Y-m-d H:i:s", "Europe/Warsaw") %}
    <div class="container flex-grow-1 my-3">
        <div class="d-flex justify-content-center gap-4">
            <h2 class="my-4 text-center">{{ 'ui.city.show'|trans }}</h2>
            <a href="{{ path('main_index') }}" class="d-flex align-items-center">
                <button class="btn btn-info">
                    {{ 'ui.buttons.return'|trans }}
                </button>
            </a>
        </div>
        <hr>
        <h3 class="text-center">{{ city.name }}</h3>
        <hr>
        <div class="overflow-x-auto">
            {% include 'Main/City/_sensors.html.twig' %}
        </div>
        <div class="city-map my-5 d-flex justify-content-center">
            <div class="map-container position-relative my-5">
                <div class="position-relative top-0 z-0">
                    {% if city.map != null %}
                        <img class="city-map-image" src="{{ file_directory ~ city.getMap.getFilename }}" alt="Map">
                    {% else %}
                        <p class="text-center"><small>{{ 'ui.settings.mapEmpty'|trans }}</small></p>
                        <img class="map-image cursor-pointer" src="{{ asset('build/images/no-image.webp') }}" alt="Map">
                    {% endif %}
                </div>
                {% for sensor in sensorList %}
                    <a href="{{ path('main_sensor_show', {id: sensor.id}) }}">
                        <div class="city-map-label-container position-absolute d-flex align-items-center justify-content-center"
                             style="top: {{ sensor.positionY }}px; left: {{ sensor.positionX }}px">
                            <div class="city-map-label">{{ sensor.name }}</div>
                            {% include 'Main/City/_measurement_pm10value.html.twig' %}
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>

    {% include 'Main/Common/_legend.html.twig' %}
{% endblock %}
