{% extends 'Main/base.html.twig' %}
{% block title %}{{ app_name }}{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center gap-4">
        <h2 class="my-4">{{ 'ui.sensor.show'|trans }}</h2>
        <a href="{{ path('main_index') }}" class="d-flex align-items-center">
            <button class="btn btn-info">
                {{ 'ui.buttons.return'|trans }}
            </button>
        </a>
    </div>
    <hr>
    <h3 class="text-center">{{ sensor.name }} | {{ sensor.city.name }}</h3>
    <hr>
    <div {{ react_component('Main/Sensor/Sensor', { sensor: sensor.id }) }}></div>
    {% include 'Main/FrontPage/_legend.html.twig' %}
{% endblock %}
