<header class="py-3 bg-dark">
    <div class="container d-flex justify-content-between align-items-center">
        <div class="d-flex gap-3 align-items-center">
            <a href="{{ path('app_web_index') }}">
                <img src="{{ asset('build/images/logo.svg') }}" alt="Logo" height="50">
            </a>
            <h3 class="text-white mb-0">{{ app_name }}</h3>
        </div>
        {% if is_granted('ROLE_ADMIN') %}
            <nav id="top-menu" class="d-flex">
                <a class="fw-bold py-1 px-0" href="{{ path('admin_web_city_index') }}">{{ 'ui.nav.cities'|trans }}</a>
                <a class="fw-bold py-1 px-0" href="{{ path('admin_web_sensor_index') }}">{{ 'ui.nav.sensors'|trans }}</a>
                <a class="fw-bold py-1 px-0" href="{{ path('app_logout') }}">{{ 'ui.nav.logout'|trans }}</a>
            </nav>
        {% endif %}
    </div>
</header>
